CNN_MNIST_GPU_CUDA/**/*.txt
CNN_MNIST_GPU_CUDA/**/data
!results.txt
!/.exe
CNN_MNIST_GPU_CUDA/**/x64
CNN_MNIST_GPU_CUDA/**/.vs

CNN_first/**/*.txt
CNN_first/**/data
!results.txt
CNN_first/**/x64
CNN_first/**/.vs

CNN_MNIST/**/*.txt
CNN_MNIST/**/data
!results.txt
CNN_MNIST/**/x64
CNN_MNIST/**/.vs
